<template>
  <section id="news">
    <div class="container">
      <!-- Main Title -->
      <div class="barna__title center">
        <h3>Articles and Opinions</h3>
      </div>
      <!-- /Main Title -->

      <!-- Blog List -->
      <div class="barna__blog">
        <div class="modal_items">
            <div class="item modal_item">
              <div class="item_top">
                <img src="../assets/img/blog/1.jpg" alt="" style="opacity:1" />
              </div>
              <div class="item_bottom">
                <div class="item_title">
                  <a href="#" class="category">Design</a>
                  <h3>
                    <a href="#">Auodit morbi excepturi exer citation site best protect</a>
                  </h3>
                </div>
                <div class="item_meta">
                  <div class="author">
                    <h5>RT Shuvro</h5>
                  </div>
                  <div class="date">Rabu, 19 Apr 2021</div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- /Blog List -->
    </div>
  </section>
</template>

<script>
export default {
    name: 'Articles'
}
</script>

<style>

</style>