<template>
      <section id="contact">
    <div class="container">
      <!-- Main Title -->
      <div class="barna__title center">
        <h3>Say Hi</h3>
      </div>


      <!-- Contact -->
      <div class="barna__contact">
        <div class="info">
          <div class="success" data-success="Your message has been received, we will contact you soon."></div>
          <div class="empty_notice">
            <span>Please Fill Required Fields</span>
          </div>
        </div>

        <div class="in">
          <div class="left">
            <div class="left_in">
              <div class="item">
                <span class="placeholder">Name *</span>
                <input class="name" type="text" />
              </div>
              <div class="item">
                <span class="placeholder">Email *</span>
                <input class="email" type="email" />
              </div>
              <div class="item">
                <span class="placeholder">Subject</span>
                <input class="subject" type="text" />
              </div>
            </div>
          </div>

          <div class="right">
            <div class="right_in">
              <div class="item">
                <span class="placeholder">Message</span>
                <textarea class="message"></textarea>
              </div>
              <div class="item nobg">
                <a id="send_message" href="#">Submit request</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Contact -->
    </div>
  </section>
</template>

<script>
export default {
    name: 'Contact'
}
</script>

<style>

</style>