<template>
    <section id="about">
        <!-- About -->
        <div class="barna__about">
            <div class="container">
                <div class="in">
                    <div class="left">
                        <div class="img_holder">
                            <img src="../assets/img/about/1.jpg" alt="" />
                        </div>
                    </div>

                    <div class="right">
                        <!-- Main Title -->
                        <div class="barna__title">
                            <p><span>Who the hell am I?</span></p>
                        </div>
                        <!-- /Main Title -->

                        <div class="desc">
                            <p>
                                I have been building remarkable UX/UI designs and web
                                development for and '<a href="#">tried</a> to design
                                according to the best trends.
                            </p>
                            <p>
                                My main goal is how to create a timely
                                <a href="#">product</a> and it will help the business to
                                reach the peak of development as a unique example in the
                                future. I prioritize the design model because it is one of
                                the best ways to run a company quickly and efficiently.
                            </p>
                        </div>

                        <div class="list">
                            <ul>
                                <li>
                                <div class="item">
                                    <img src="../assets/svg/address.svg" alt="" class="svg" />
                                    <p><span>Name:</span>DS Summer Morgan</p>
                                </div>
                                </li>
                                <li>
                                <div class="item">
                                    <img src="../assets/svg/mailbox.svg" alt="" class="svg" />
                                    <p><span>Email:</span>BrandonBt@gmail.com</p>
                                </div>
                                </li>
                                <li>
                                <div class="item">
                                    <img src="../assets/svg/user.svg" alt="" class="svg" />
                                    <p><span>Address:</span>156 KG Road, NewYork</p>
                                </div>
                                </li>
                                <li>
                                <div class="item">
                                    <img src="../assets/svg/calendar.svg" alt="" class="svg" />
                                    <p><span>Born:</span>12 March 1990</p>
                                </div>
                                </li>
                            </ul>
                        </div>

                        <div class="social-media">
                            <a href="" class="social-item">
                                <img src="../assets/svg/social/facebook.svg" class="social-icon" alt="facebook">
                            </a>
                            <a href="" class="social-item">
                                <img src="../assets/svg/social/github.svg" class="social-icon" alt="github">
                            </a>
                            <a href="" class="social-item">
                                <img src="../assets/svg/social/linkedin.svg" class="social-icon" alt="linkedin">
                            </a>
                            <a href="" class="social-item">
                                <img src="../assets/svg/social/twitter.svg" class="social-icon" alt="twitter">
                            </a>
                        </div>

                        <div class="button">
                            <a href="../assets/img/logo.svg" download>
                                Download
                                <span class="text">
                                    <span>CV</span>
                                    <span>CV</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="barna__portfolio" style="margin-top:2rem">
                    <div class="filter">
                        <ul>
                            <li>
                                <router-link :to="{ name: 'Projects' }">Projects</router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Resume' }">Resume</router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Articles' }">Articles</router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Contact' }">Contact</router-link>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- /About -->
    </section>
</template>

<script>
import { useRoute } from 'vue-router'
export default {
    name: 'Home',
    setup() {
        const route = useRoute()
    }
}
</script>

<style>

</style>