<template>
    <section id="portfolio" data-bg-img="../assets/img/portfolio/bg.jpg">

        <div class="container">
            <!-- Main Title -->
            <div class="barna__title center">
                <h3>Projects</h3>
            </div>
            <!-- /Main Title -->

            <div class="technology">
                <img src="../assets/img/contact/laravel.png" class="item" alt="facebook">
                <img src="../assets/img/contact/vue.png" class="item" alt="facebook">
            </div>

            <!-- Portfolio List -->
            <div class="barna__portfolio">
                <div class="list">
                    <ul class="gallery_zoom">
                        <li class="vectordesign webapp branding">
                            <div class="item">
                                <img src="../assets/img/about/1.jpg" alt="" style="opacity: 1" />
                                <a class="zoom" href="../assets/img/about/1.jpg" title="Business Card Design"></a>
                                <div class="title_holder">
                                    <h3>Business Card Design</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /Portfolio List -->
        </div>
    </section>
</template>

<script>
export default {
    name: 'Projects'
}
</script>

<style>

</style>