<template>
  <section id="resume">
    <div class="container">
      <!-- Main Title -->
      <div class="barna__title center">
        <h3>Education and Experiences</h3>
      </div>
      <!-- /Main Title -->

      <!-- Resume List -->
      <div class="barna__resume_list">
        <ul class="resume">
          <!-- Resume: Item #1 -->
          <li class="resume_item">
            <div class="item_wrapper">
              <div class="left">
                <img src="../assets/svg/education.svg" alt="" class="svg" />
                <h3>Education</h3>
              </div>
              <div class="right">
                <ul>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2009
                        - 2013
                      </p>
                      <h3>Master of Computer Science</h3>
                      <h5>Hardverd University</h5>
                    </div>
                  </li>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2005
                        - 2010
                      </p>
                      <h3>Secondary School Certificate</h3>
                      <h5>California SG Hight School</h5>
                    </div>
                  </li>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2008
                        - 2012
                      </p>
                      <h3>Honours of UI/UX Design</h3>
                      <h5>Cambridge University</h5>
                    </div>
                  </li>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2000
                        - 2005
                      </p>
                      <h3>Primary School Certificate</h3>
                      <h5>Markav TM Primary School</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Resume: Item #1 -->

          <!-- Resume: Item #2 -->
          <li class="resume_item">
            <div class="item_wrapper">
              <div class="left">
                <img src="../assets/svg/experience.svg" alt="" class="svg" />
                <h3>Experience</h3>
              </div>
              <div class="right">
                <ul>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2014
                        - 2017
                      </p>
                      <h3>Envato WP Theme Developer</h3>
                      <h5>Envato Market</h5>
                    </div>
                  </li>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2012
                        - 2014
                      </p>
                      <h3>Photographer of PhotoDune</h3>
                      <h5>Photodune</h5>
                    </div>
                  </li>
                  <li>
                    <div class="item">
                      <p>
                        <img
                          src="../assets/svg/check.svg"
                          alt=""
                          class="svg"
                        />20017 - 2019
                      </p>
                      <h3>Themeforest HTML5 Designer</h3>
                      <h5>Themeforest</h5>
                    </div>
                  </li>
                  <li>
                    <div class="item">
                      <p>
                        <img src="../assets/svg/check.svg" alt="" class="svg" />2009
                        - 2013
                      </p>
                      <h3>Master PHP Scripts Writer</h3>
                      <h5>CodeCanyon</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <!-- Resume: Item #2 -->
        </ul>
      </div>
      <!-- /Resume List -->
    </div>
  </section>
</template>

<script>
export default {
    name: 'Resume'
}
</script>

<style>

</style>