<template>
    <header class="header" id="header">
        <nav v-if="!isHide" class="nav">
            <ul>
                <li>
                    <router-link :to="{ name: 'Home' }">Me</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Projects' }">Projects</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Resume' }">Resume</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Articles' }">Articles</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Contact' }">Contact</router-link>
                </li>
            </ul>
        </nav>
    </header>

    <div class="barna__mobile_header">
        <div class="header_top">
            <a href="#" class="hamb">
            <div class="hamburger hamburger--vortex">
                <div class="hamburger-box">
                <div class="hamburger-inner"></div>
                </div>
            </div>
            </a>
        </div>
        <div class="header_bottom">
            <ul>
                <li>
                    <router-link :to="{ name: 'Home' }">Me</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Projects' }" active-class="current">Projects</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Resume' }">Resume</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Articles' }">Articles</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Contact' }">Contact</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import { ref, watch } from '@vue/runtime-core'
import { useRoute } from 'vue-router'
export default {
    name: 'Header',
    setup() {
        const route = useRoute()
        const isHide = ref(route.meta.hideHeader)

        watch(route, ()=> {
            isHide.value = route.meta.hideHeader
            console.log(isHide.value);
        })

        return { route, isHide }
    }
}
</script>

<style>

</style>