<template>
    <div class="barna__mobile_header">
        <div class="header_top">
            <a href="#" class="hamb">
            <div class="hamburger hamburger--vortex">
                <div class="hamburger-box">
                <div class="hamburger-inner"></div>
                </div>
            </div>
            </a>
        </div>
        <div class="header_bottom">
            <ul>
                <li>
                    <router-link :to="{ name: 'Home' }">Me</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Projects' }" active-class="current">Projects</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Resume' }">Resume</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Articles' }">Articles</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'Contact' }">Contact</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>