<template>
  <div class="barna__wrapper">
    <Header />

    <div class="main">
      <RouterView />
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue'

export default {
  components: { Header }
}
</script>

<style>

</style>